<?xml version="1.0" encoding="utf-8"?>
<Language>
  <MainMenu>
    <multiplayer>MULTIPLAYER</multiplayer>
    <localCoOp>LOCAL CO-OP</localCoOp>
    <options>OPTIONS</options>
    <exit>EXIT</exit>
  </MainMenu>

  <MultiplayerMenu>
    <host>HOST</host>
    <connect>CONNECT</connect>
    <back>BACK</back>
  </MultiplayerMenu>

  <ColourPickerMenu>
    <default>DEFAULT</default>
    <back>DONE</back>
  </ColourPickerMenu>

  <ServerMenu>
    <ip>IP</ip>
    <port>PORT</port>
    <connect>CONNECT</connect>
    <back>BACK</back>
  </ServerMenu>

  <GameSetup>
    <host>HOST</host>
    <basic>BASIC</basic>
    <advanced>ADVANCED</advanced>
    <Hnefatafl>Hnefatafl</Hnefatafl>
    <Hnefatafl_Description>> Scandinavia</Hnefatafl_Description>
    <Hnefatafl_Description2>> 11x11 Board</Hnefatafl_Description2>
    <Tawlbwrdd>Tawlbwrdd</Tawlbwrdd>
    <Tawlbwrdd_Description>> Cymru (Wales)</Tawlbwrdd_Description>
    <Tawlbwrdd_Description2>> 11x11 Board</Tawlbwrdd_Description2>
    <Tablut>Tablut</Tablut>
    <Tablut_Description>> Sapmi</Tablut_Description>
    <Tablut_Description2>> 9x9 Board</Tablut_Description2>
    <Brandubh>Brandubh</Brandubh>
    <Brandubh_Description>> Eire (Ireland)</Brandubh_Description>
    <Brandubh_Description2>> 7x7 Board</Brandubh_Description2>
    <ArdRi>Ard Ri</ArdRi>
    <ArdRi_Description>> Alba (Scotland)</ArdRi_Description>
    <ArdRi_Description2>> 7x7 Board</ArdRi_Description2>
  </GameSetup>

  <InGame>
    <back>BACK</back>
  </InGame>
</Language>