<?xml version="1.0" encoding="utf-8"?>
<Language>
  <MainMenu>
    <multiplayer>MULTIPLAYER</multiplayer>
    <localCoOp>LOCAL CO-OP</localCoOp>
    <options>OPTIONS</options>
    <exit>EXIT</exit>
  </MainMenu>

  <MultiplayerMenu>
    <host>HOST</host>
    <connect>CONNECT</connect>
    <back>BACK</back>
  </MultiplayerMenu>

  <ColourPickerMenu>
    <default>DEFAULT</default>
    <back>DONE</back>
  </ColourPickerMenu>

  <ServerMenu>
    <ip>IP</ip>
    <port>PORT</port>
    <connect>CONNECT</connect>
    <back>BACK</back>
  </ServerMenu>

  <GameSetup>
    <host>HOST</host>
    <basic>BASIC</basic>
    <advanced>ADVANCED</advanced>
    <Hnefatafl>Hnefatafl</Hnefatafl>
    <Hnefatafl_Description>> 11x11 Board</Hnefatafl_Description>
  </GameSetup>

  <InGame>
    <back>BACK</back>
  </InGame>
</Language>